*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
}
.input{
    width: 40%;
    height: 30px;
}
input[type="radio"]{
    appearance: none;
}
input[type="checkbox"] {
    appearance: none;
}

.submit{
    width: 40%;
    font-weight: bold;
    color: white;
    background-color: #ffa600;
    border: 2px solid #bf5b04;
}

.checkbox:not(:checked)+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid grey;
    margin-right: 5px;
    vertical-align: middle;
}

/* Checkbox đã được chọn */
.checkbox:checked+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid orange;
    margin-right: 5px;
    vertical-align: middle;
    background-color: orange;
}

.radio:not(:checked)+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid grey;
    border-radius: 50px;
    margin-right: 5px;
    vertical-align: middle;
}

/* Checkbox đã được chọn */
.radio:checked+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid orange;
    border-radius: 50px;
    margin-right: 5px;
    vertical-align: middle;
    background-color: orange;
}


